@model IEnumerable<shipping_tracking.Models.UserInfo>

<h2>User List</h2>

<a class="btn btn-primary" href="/User/Create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.AspNetUser.UserName</td>
                <td>@user.AspNetUser.Email</td>
                <td>@user.Address</td>
                <td>
                    <a href="/User/Update/@user.AspNetUserId">Edit</a> |
                    <a href="/User/Delete/@user.AspNetUserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
