@model shipping_tracking.Models.UserInfo

<form asp-action="CreateUser" method="post" enctype="multipart/form-data" class="container mt-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AspNetUser.UserName" class="form-label">Username</label>
                <input asp-for="AspNetUser.UserName" class="form-control" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AspNetUser.Email" class="form-label">Email</label>
                <input asp-for="AspNetUser.Email" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Password</label>
                <input name="password" type="password" class="form-control" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Address" class="form-label">Address</label>
                <input asp-for="Address" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ImageFile" class="form-label">Profile Image</label>
                <input asp-for="ImageFile" type="file" class="form-control" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="roleName" class="form-label">Role</label>
                @if (ViewBag.Roles != null)
                {
                    <select id="roleName" name="roleName" asp-items="@ViewBag.Roles" class="select2-dropdown form-control" required style="width:100%;"></select>
                }
                else
                {
                    <select id="roleName" name="roleName" class="select2-dropdown form-control" required>
                        <option>No options ...</option>
                    </select>
                }
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create User</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.select2-dropdown').select2();
        });
    </script>
}
