@{
    Layout = null;
}

<style>
    .navbar {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        border-bottom: 1px solid black !important;
    }

    .small-toggler .navbar-toggler-icon {
        background-size: 0.75em 0.75em !important;
    }

    .navbar-nav .nav-item .nav-link:hover, .navbar-brand:hover {
        color: #009BDF !important;
        text-decoration: none !important;
    }

    .account-btns button:hover {
        background-color: #005cbf !important;
        color: #fff !important;
    }

    .account-btns button {
        background: none !important;
        border: 1px solid #005cbf !important;
        padding: 0.375rem 0.75rem !important;
        border-radius: 0.25rem !important;
        color: #005cbf !important;
        transition: color 0.2s, background-color 0.2s !important;
        margin-right: 10px !important;
    }

    form{
        padding: 0 !important;
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler small-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">Ali Online</a>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" asp-action="HomePage" asp-controller="Home">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="AdminPage" asp-controller="Home">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        Admin Page
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="All" asp-controller="Category">
                        <i class="fa-solid fa-list"></i>
                        Category
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="All" asp-controller="Product">
                        <i class="fa-brands fa-product-hunt"></i>
                        Product
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="All" asp-controller="User">
                        <i class="fa-solid fa-users"></i>
                        User
                    </a>
                </li>
            }
            @if (User.IsInRole("Customer"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="UserOrders" asp-controller="Orders">
                        <i class="fa-solid fa-cart-shopping"></i>
                        My Orders
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="account-btns">
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="Logout" asp-controller="Account" method="post">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout
                </button>
            </form>
        }
    </div>
</nav>
